In [1]:
print('Hello World!')

Hello World!

In [2]:
x=5
print(x)

5

In [3]:
x='Hi'
print(x)

Hi

In [4]:
print(type(x))

<class 'str'>

In [7]:
x=int(5)
x=str('Hello')

In [8]:
x=5.00
print(type(x))

<class 'float'>

In [9]:
y=8.0
print(type(y))

<class 'float'>

In [10]:
u='hello'
v="hello"
print(u)
print(v)

hello
hello

In [11]:
a=5
A='Salary'
print(A)
print(a)

Salary
5

In [13]:
def add(num1, num2):
    Addition=num1+num2
    return Addition

def sub(num1, num2):
    Subtraction=num1-num2
    return Subtraction

def mul(num1, num2):
    Multiplication=num1*num2
    return Multiplication

def div(num1,num2):
    Division=num1/num2
    return Division

x=int(input('Enter the first number: '))
y=int(input('Enter the second number: '))

print('Addition:',add(x,y))
print('Subtraction:', sub(x,y))
print('Multiplication:',mul(x,y))
print('Division:',div(x,y))

Enter the first number:  8
Enter the second number:  9

Addition: 17
Subtraction: -1
Multiplication: 72
Division: 0.8888888888888888

In [14]:
mycalss=5
_myclass=5
my_class=5

In [16]:
age=8
Age=6
AGE=10
print(age)
print(Age)
print(AGE)
print(age+Age+AGE)
#Case sensitive

8
6
10
24

In [17]:
#This is my first python program
x='Hello'
print(x+age)

TypeError: can only concatenate str (not "int") to str

In [18]:
x='Good' #global variable

def myfun():
    print(x)
myfun()

Good

In [19]:
x='Good'

def myfun():
    y='Hi'
    print(y)
myfun()

Hi

In [20]:
a=44
b=7

if b>a:
    print('b greater than a')
else:
    print('a greater than b')

a greater than b

In [21]:
a=7
b=7

if b>a:
    print('b grater than a')
elif b==a:
    print('b equal a')
else:
    print('a greater than b')

b equal a

In [22]:
i=1
while(i<10):
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9

In [25]:
fruits=['apple','orange','mango']
for x in fruits:
    print(x)

apple
orange
mango

In [27]:
for x in 'banana':
    print(x)

b
a
n
a
n
a

In [28]:
for x in fruits:
    print(x)
    if(x=='orange'):
        break

apple
orange

In [31]:
for x in fruits:
    #print(x)
    if(x=='orange'):
        continue
    print(x)

apple
mango

In [32]:
for x in range(1,7):
    print(x)

1
2
3
4
5
6

In [33]:
animal=['cat','dog','lion']
name=['bob','alice','oscar']

for x in animal:
    for y in name:
        print(x,y)

cat bob
cat alice
cat oscar
dog bob
dog alice
dog oscar
lion bob
lion alice
lion oscar

In [34]:
def myfunc(fname):
    print("Hi I am ", fname)
myfunc('Nisha')

Hi I am  Nisha

In [37]:
from statistics import mean, median, mode, stdev

data =[5,10,10,20,25,30,30,40]

print('Data:',data)
print('Mean:',mean(data))
print('Mode:',mode(data))
print('Median:',median(data))
print('Standard Deviation:',stdev(data))

Data: [5, 10, 10, 20, 25, 30, 30, 40]
Mean: 21.25
Mode: 10
Median: 22.5
Standard Deviation: 12.174328963613794